body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-image: url(https://media.istockphoto.com/id/185218695/photo/high-precision-many-screw.jpg?s=612x612&w=0&k=20&c=udYbJKfHdydlRFwYXdTpjpyNmHuGcG-kQHIa1iVSg60=);
    color: gray;
    opacity: 80%;
    text-align: center;
    padding: 1em;
}

h1 {
    color: yellow;
    font-size: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    width: 300px;
    display: inline-block; /* Add this line to make products inline */
    text-align: center; /* Center the content within each product */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.product h3 {
    font-size: 1.5em; /* Increase the font size of product titles */
}

.product p {
    font-size: 1.2em; /* Increase the font size of product prices */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#catalog-container {
    text-align: center;
}

#car-brands {
    list-style: none;
    padding: 0;
}

#car-brands li {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

#car-brands li.selected {
    font-weight: bold;
    color: #0066cc; /* Change the color to suit your design */
}

#navbar {
    background-color: #666666;
    overflow: hidden;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.selected {
    background-color: #4CAF50;
    color: white;
}

#navbar button {
    float: right; /* Align the button to the right side of the navbar */
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#navbar button:hover {
    background-color: #45a049;
}
