<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet"/>
    <title>Магазин Авто Запчастей</title>
</head>
<body>
    <header>
        <h1>100Болтов</h1>
    </header>

    <div id="navbar">
        <a href="#" onclick="showCatalog()">Каталог</a>
        <button onclick="toggleCart()">Корзина</button> 
    </div>

    <section id="catalog-container" style="display:none;">
        <h2>Марки автомобилей</h2>
        <ul id="car-brands">
            <li onclick="showProducts('Toyota')">Toyota</li>
            <li onclick="showProducts('Ford')">Ford</li>
            <li onclick="showProducts('Honda')">Honda</li>
            <li onclick="showProducts('Nissan')">Nissan</li>
            <li onclick="showProducts('Subaru')">Subaru</li>
        </ul>
    </section>
    
    <div id="products-container">
        <div class="product" style="background-image: url(https://www.avtovzglyad.ru/media/article/c2b8249bbbeee1a58cf8bf58efa82a43.jpg.740x555_q85_box-0%2C3%2C765%2C577_crop_detail_upscale.jpg);">
            <h3>Двигатель</h3>
            <p>400.000₸</p>
            <button onclick="addToCart(1, 'Двигатель', 400.000)">Добавить в корзину</button>
        </div>
        <div class="product" style="background-image: url(https://frankfurt.apollo.olxcdn.com/v1/files/yjf5wacq1y1q1-KZ/image;s=1428x968);">
            <h3>Тормоза</h3>
            <p>50.000₸</p>
            <button onclick="addToCart(2, 'Тормоза', 50.000)">Добавить в корзину</button>
        </div>
        <div class="product" style="background-image: url(https://frankfurt.apollo.olxcdn.com/v1/files/7uvwk3g82m3n1-KZ/image;s=2000x1128);">
            <h3>Фары</h3>
            <p>85.000₸</p>
            <button onclick="addToCart(3, 'Фары', 80.000)">Добавить в корзину</button>
        </div>
        <div class="product" style="background-image: url(https://frankfurt.apollo.olxcdn.com/v1/files/46tgwc9n8dkr2-KZ/image;s=1000x738);">
            <h3>Бампер</h3>
            <p>100.000₸</p>
            <button onclick="addToCart(4, 'Бампер', 100.000)">Добавить в корзину</button>
        </div>
        <div class="product" style="background-image: url(https://static.baza.drom.ru/v/1677857707955_block);">
            <h3>Капот</h3>
            <p>180.000₸</p>
            <button onclick="addToCart(5, 'Капот', 170.000)">Добавить в корзину</button>
        </div>
        <div class="product" style="background-image: url(https://frankfurt.apollo.olxcdn.com/v1/files/9r038vvttleh2-KZ/image;s=937x1110);">
            <h3>Усилитель тормоза</h3>
            <p>250.000₸</p>
            <button onclick="addToCart(6, 'Усилитель тормоза', 200.000)">Добавить в корзину</button>
        </div>
    </div>

    <div id="notification" class="fade-out" style="opacity: 0; visibility: hidden; position: fixed; top: 0; left: 50%; transform: translateX(-50%); background-color: #4CAF50; color: white; padding: 15px; text-align: center; transition: opacity 0.3s ease-in-out;"></div>

    <div id="cart-container" style="display:none;">
        <h2>Корзина</h2>
        <ul id="cart"></ul>
        <p>Итого: <span id="total">0.000</span>₸</p>
        <button onclick="checkout()">Купить</button>
        <button onclick="toggleCart()">Назад</button>
    </div>

    <footer>
        <p>&copy; 2023 АО Ресы</p>
    </footer>

    <script>
        const cart = [];
        
        const catalog = {
            Toyota: [
                { id: 1, name: 'Двигатель Toyota', price: 650.000, backgroundImage: 'url(https://images.satu.kz/199206101_w600_h600_199206101.jpg)' },
                { id: 2, name: 'Фары Toyota', price: 150.000, backgroundImage: 'url(https://frankfurt.apollo.olxcdn.com/v1/files/n5e78a2ypc6y1-KZ/image;s=2000x1500)' },
            ],
            Ford: [
                { id: 3, name: 'Ford Двигатель', price: 270.000, backgroundImage: 'url(https://cdn.izap24.ru/images/prodacts/sourse/173733/173733392_ford-focus-ii-mk2-st-dvigatel-2-5-turbina-hyda-b5254t3.jpg)' },
                { id: 4, name: 'Бампер Ford', price: 200.000, backgroundImage: 'url(https://cdn.izap24.ru/images/prodacts/sourse/180500/180500995_ford-fiesta-mk7-st-bamper-perednyaya-peredniy-v-sbore.jpg)' },
            ],
            Honda: [
                { id: 5, name: 'Honda Двигатель', price: 350.000, backgroundImage: 'url(https://www.ferio.ru/thumbnail-big/bb7a4249aeb2da707e4507326028875c8852afc4.webp)' },
                { id: 6, name: 'Honda Капот', price: 100.000, backgroundImage: 'url(https://cdn.izap24.ru/images/prodacts/sourse/59059/59059637_honda-accord-5-restayling-95-98-kapot.jpg)' },
            ],
            Nissan: [
                { id: 7, name: 'Nissan Двигатель', price: 355.000, backgroundImage: 'url(https://raw.githubusercontent.com/rashcrush70/gachiWORK/rashcrush70-SEX-NISSAN/NiSSANDVIGATEL.webp?token=GHSAT0AAAAAACJJ5NMS35ZH46IWCXT5IDNUZLEWKRQ)' },
                { id: 8, name: 'Nissan Шины', price: 100.000, backgroundImage: 'url(https://frankfurt.apollo.olxcdn.com/v1/files/s6mk1mmwjtl21-KZ/image;s=750x1000)' },
            ],
            Subaru: [
                { id: 9, name: 'Двигатель Subaru', price: 500.000, backgroundImage: 'url(https://avtobest-part.ru/var/partsn/2483066-1-tm1677045687.jpg)' },
                { id: 10, name: 'Subaru Фары', price: 120.000, backgroundImage: 'url(https://raw.githubusercontent.com/rashcrush70/gachiWORK/rashcrush70-SUBARU-PORNO/SUBARUporn.webp?token=GHSAT0AAAAAACJJ5NMTCIWIZJSFQMZUIBLWZLEWLLA)' },
            ],
        };

        function showNotification(message) {
            const notificationElement = document.getElementById('notification');
            notificationElement.textContent = message;
            notificationElement.classList.remove('fade-out');
            notificationElement.style.opacity = '1';
            notificationElement.style.visibility = 'visible';
            setTimeout(() => {
                notificationElement.classList.add('fade-out');
            }, 100);
            setTimeout(() => {
                notificationElement.style.opacity = '0';
                notificationElement.style.visibility = 'hidden';
                notificationElement.classList.remove('fade-out');
            }, 3000);
        }
    
        function addToCart(productId, name, price) {
            const product = {
                id: productId,
                name: name,
                price: price
            };
            cart.push(product);
            updateCart();
            showNotification(`${name} добавлен в корзину!`);
        }

        function removeFromCart(productId) {
            const index = cart.findIndex(item => item.id === productId);
            if (index !== -1) {
                cart.splice(index, 1);
                updateCart();
            }
        }

        function updateCart() {
            console.log(cart);
            updateCartDisplay();
        }

        function toggleCart() {
            const productsContainer = document.getElementById('products-container');
            const cartContainer = document.getElementById('cart-container');
            const cartButtonContainer = document.getElementById('cart-button-container');

            if (productsContainer.style.display === 'block') {
                productsContainer.style.display = 'none';
                cartContainer.style.display = 'block';
                updateCartDisplay(); 
            } else {
                productsContainer.style.display = 'block';
                cartContainer.style.display = 'none';
            }
        }

        function updateCartDisplay() {
            const cartContainer = document.getElementById('cart');

            cartContainer.innerHTML = '';

            // Check if there are items in the cart
            if (cart.length > 0) {
                // Display each item in the cart
                cart.forEach(item => {
                    const cartItem = document.createElement('li');
                    cartItem.textContent = `${item.name} - ${item.price.toFixed(3)}₸`;
                    
                    // Add remove button
                    const removeButton = document.createElement('button');
                    removeButton.textContent = 'Убрать';
                    removeButton.onclick = () => removeFromCart(item.id);
                    cartItem.appendChild(removeButton);

                    cartContainer.appendChild(cartItem);
                });

                // Calculate and display the total
                const totalPrice = cart.reduce((total, item) => total + item.price, 0);
                document.getElementById('total').textContent = totalPrice.toFixed(3);
            }
        }

        function updateNavbarSelection(brand) {
            const navbarLinks = document.getElementById('navbar').getElementsByTagName('a');
            for (let i = 0; i < navbarLinks.length; i++) {
                navbarLinks[i].classList.remove('selected');
            }
            document.querySelector(`#navbar a:contains('${brand}')`).classList.add('selected');
        }

        function showProducts(brand) {
            const productsContainer = document.getElementById('products-container');
            const catalogProducts = catalog[brand];
            productsContainer.innerHTML = '';
    
            if (catalogProducts) {
                catalogProducts.forEach(product => {
                    const productItem = document.createElement('div');
                    productItem.className = 'product';
                    productItem.style.backgroundImage = product.backgroundImage;
                    productItem.innerHTML = `
                        <h3>${product.name}</h3>
                        <p>${product.price.toFixed(3)}₸</p>
                        <button onclick="addToCart(${product.id}, '${product.name}', ${product.price})">Добавить в корзину</button>
                    `;
                    productsContainer.appendChild(productItem);
                });
            }
            productsContainer.style.display = 'block';
            updateNavbarSelection(brand);
        }

        function checkout() {
            alert('Спасибо за покупку!');
            cart.length = 0; 
            updateCart();
            toggleCart(); 
        }

        function containsText(element, text) {
            return element.innerText.toLowerCase().includes(text.toLowerCase());
        }

        function showCatalog() {
            const catalogContainer = document.getElementById('catalog-container');
            const productsContainer = document.getElementById('products-container');

            if (catalogContainer.style.display === 'block') {
                catalogContainer.style.display = 'none';
                productsContainer.style.display = 'block';
            } else {
                catalogContainer.style.display = 'block';
                productsContainer.style.display = 'none';
            }

            const navbarLinks = document.getElementById('navbar').getElementsByTagName('a');
            for (let i = 0; i < navbarLinks.length; i++) {
                navbarLinks[i].classList.remove('selected');
            }
            document.querySelector(`#navbar a:contains('Catalog')`).classList.add('selected');
        }
    </script>
</body>
</html>
